<dvi id="matching-players" class="col-sm-12 mt-2 mb-2">
    <h1 class="mt-5">Jugadores coincidentes</h1>

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inches-quantity">Por favor ingrese una cantidad de pulgadas: </label>
            <input type="number" class="form-control" id="inches-quantity" placeholder="Pulgadas" min="0" value="0">
        </div>
        <button type="button" class="btn btn-primary mb-2" onclick="calculate()">Consultar jugadores</button>
    </form>

    
</dvi>
